<div class="all-articles container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="loadMoreArticles()">
  <div class="row col-12" *ngFor="let articleObj of allArticles; index as i">
    <div class="article-wrapper">
      <div class="author-article-links col-8">
        <div class="author-container">
          <img
            src="../../assets/images/user-placeholder.jpg"
            alt="Article author image."
          />
          <a class="name" routerLink="">{{ articleObj.author }}</a>
        </div>
        <a class="article" routerLink="">{{ articleObj.article.title }}</a>
        <div class="date-read-time">
          <p class="date">{{ articleObj.article.created_at }}</p>
          <p class="hyphen">-</p>
          <p class="read-time">{{ articleObj.article.read_time }} min read</p>
        </div>
      </div>

      <div class="article-image">
        <a routerLink="">
          <img src="../../assets/images/article-placeholder.jpg" alt="Article image." />
        </a>
      </div>
    </div>
  </div>
</div>
