<div class="most-liked container">
  <h2 class="heading row">Most liked on The Creative Spark</h2>
  <div class="articles row container">
    <div class="row">
      <div
        class="col-4 article-wrapper"
        *ngFor="let articleObj of mostLikedArticles.slice(0, 3); index as i"
      >
        <p class="col-1 number">0{{ i + 1 }}</p>
        <div class="author-article-links">
          <a class="author" routerLink="">{{ articleObj.author }}</a>
          <a class="article" routerLink="">{{ articleObj.article.title }}</a>
          <div class="date-read-time">
            <p class="date">{{ articleObj.article.created_at }}</p>
            <p class="hyphen">-</p>
            <p class="read-time">{{ articleObj.article.read_time }} min read</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-4 article-wrapper"
        *ngFor="let articleObj of mostLikedArticles.slice(3); index as i"
      >
        <p class="col-1 number">0{{ i + 4 }}</p>
        <div class="author-article-links">
          <a class="author" routerLink="">{{ articleObj.author }}</a>
          <a class="article" routerLink="">{{ articleObj.article.title }}</a>
          <div class="date-read-time">
            <p class="date">{{ articleObj.article.created_at }}</p>
            <p class="hyphen">-</p>
            <p class="read-time">{{ articleObj.article.read_time }} min read</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
