.most-liked {
  padding: 50px 100px 0px;
  border-bottom: 1px solid lightgray;

  .heading {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    padding-left: calc((var(--bs-gutter-x) * 0.5) * 2);
  }

  .articles {
    .article {
      height: 80px;
      margin-bottom: 24px;

      .number {
        font-size: 25px;
        margin: 0;
        line-height: 38px;
        font-weight: 500;
        color: #c7bcbc;
      }

      .author-article-links {
        .date-read-time {
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
