<div class="most-liked container">
  <div class="heading-image">
    <img src="../../assets/svg/trending.svg" alt="Trending image.">
    <h2 class="heading row">Trending on The Creative Spark</h2>
  </div>
  <div class="articles row container">
    <div class="row">
      <div
        class="col-4 article-wrapper"
        *ngFor="let articleObj of mostLikedArticles.slice(0, 3); index as i"
      >
        <p class="col-1 number">0{{ i + 1 }}</p>
        <div class="author-article-links">
          <div class="author-container">
            <img src="../../assets/images/user-placeholder.jpg" alt="Article author image." [routerLink]="articleObj.author.slug">
            <a class="name" [routerLink]="articleObj.author.slug">{{ articleObj.author.name }}</a>
          </div>
          <a class="article" routerLink="">{{ articleObj.article.title }}</a>
          <div class="date-read-time">
            <p class="date">{{ articleObj.article.created_at }}</p>
            <p class="hyphen">-</p>
            <p class="read-time">{{ articleObj.article.read_time }} min read</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-4 article-wrapper"
        *ngFor="let articleObj of mostLikedArticles.slice(3); index as i"
      >
        <p class="col-1 number">0{{ i + 4 }}</p>
        <div class="author-article-links">
          <div class="author-container">
            <img src="../../assets/images/user-placeholder.jpg" alt="Article author image." [routerLink]="articleObj.author.slug">
            <a class="name" [routerLink]="articleObj.author.slug">{{ articleObj.author.name }}</a>
          </div>
          <a class="article" routerLink="">{{ articleObj.article.title }}</a>
          <div class="date-read-time">
            <p class="date">{{ articleObj.article.created_at }}</p>
            <p class="hyphen">-</p>
            <p class="read-time">{{ articleObj.article.read_time }} min read</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
