.most-liked {
  padding: 50px 100px 0;

  .heading-image {
    margin: 0 0 16px 85px;

    .heading {
      font-size: 14px;
    }

    img {
      width: 19px;
      height: 19px;
      padding-right: 2px;
    }
  }

  .articles .row {
    padding-left: 85px;

    .article-wrapper {
      display: flex;
      gap: 12px;
      height: 80px;
      margin-bottom: 24px;

      .number {
        font-size: 30px;
        margin: 0;
        line-height: 38px;
        font-weight: 500;
        color: #c7bcbc;
        opacity: 0.5;
      }

      .author-article-links {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-top: 8px;

        .article {
          color: var(--main-black);
        }

        .author-container {
          display: flex;
          align-items: center;
          gap: 6px;

          img {
            width: 18px;
            cursor: pointer;
          }

          .name {
            color: rgb(36, 36, 36);
            font-size: 12px;
            text-decoration: none;

            &:hover {
              color: var(--main-color-2);
              font-weight: 600;
            }

            &:active {
              color: var(--main-color-3);
            }
          }
        }

        .article {
          font-size: 15px;
          font-weight: 600;
          text-decoration: none;

          &:hover {
            color: var(--main-color-2);
          }

          &:active {
            color: var(--main-color-3);
          }
        }

        .date-read-time {
          display: flex;

          p {
            font-size: 13px;
            margin: 0;
          }

          .hyphen {
            margin: 0 4px;
          }
        }
      }
    }
  }
}
