<div
  class="articles container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="loadMoreArticles()"
>
  <div *ngIf="displayedArticles.length > 0; else noArticles">
  <div
    class="row col-12"
    *ngFor="let articleObj of displayedArticles; index as i"
  >
    <div class="article-wrapper">
      <div class="author-article-links col-8">
        <div
          class="author-container"
          *ngIf="!authorArticles; else showAuthorArticles"
        >
          <img
            src="../../assets/images/user-placeholder.jpg"
            alt="Article author."
            [routerLink]="articleObj.authorSlug"
          />
          <a class="name" [routerLink]="articleObj.authorSlug">{{
            articleObj.authorName
          }}</a>
        </div>
        <ng-template #showAuthorArticles>
          <p class="published-date">
            Published on {{ articleObj.createdAt }}
          </p>
        </ng-template>
        <div class="article-link" [routerLink]="authorArticles ? articleObj.slug : [articleObj.authorSlug, articleObj.slug]">
          <p class="title">{{ articleObj.title }}</p>
          <p class="content">{{ articleObj.content }}</p>
        </div>
        <div class="date-read-time">
          <p class="date">{{ articleObj.createdAt }}</p>
          <p class="hyphen">-</p>
          <p class="read-time">{{ articleObj.readTime }} min read</p>
          <p class="hyphen">-</p>
          <p class="badge">{{ articleObj.topic }}</p>
        </div>
      </div>

      <div class="article-image">
        <a routerLink="">
          <img
            src="../../assets/images/article-placeholder.jpg"
            alt="Article."
          />
        </a>
      </div>
    </div>
  </div>
  </div>
  <ng-template #noArticles>
    <div class="no-articles">
      <p>No articles found.</p>
    </div>
  </ng-template>
</div>
