<div class="modal-content-wrapper">
  <header>
    <h1>{{ loginOrRegister.title }}</h1>
  </header>

  <div class="login-register">
    <p class="subtitle">{{ loginOrRegisterFormSubtitle }}</p>
    <form
      *ngIf="modalVersion === 'getStarted'; else elseBlock"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit(registerForm)"
      class="d-flex flex-column align-items-center"
    >
      <div class="input-message">
        <input
          formControlName="name"
          placeholder="Username"
          type="text"
          [ngClass]="{
            'border-danger border-2':
              registerForm.get('name')?.invalid &&
              registerForm.get('name')?.touched,
          }"
        />
        <div
          *ngIf="
            registerForm.get('name')?.invalid &&
            registerForm.get('name')?.touched
          "
          class="invalid-input"
        >
          <p *ngIf="!registerForm.get('name')?.hasError('whitespace')">
            Please provide a name.
          </p>
          <p *ngIf="registerForm.get('name')?.hasError('whitespace')">
            Username cannot be only spaces.
          </p>
        </div>
      </div>
      <div class="input-message">
        <input formControlName="email" placeholder="Email" type="text" />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
          class="invalid-input"
        >
          <p>Please provide a valid email address.</p>
        </div>
      </div>
      <div class="input-message">
        <input
          class="passwords"
          formControlName="password"
          placeholder="Password"
          type="text"
        />
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
          class="invalid-input"
        >
          <p *ngIf="!registerForm.get('password')?.hasError('whitespace')">
            Password must be at least 6 characters long.
          </p>
          <p *ngIf="registerForm.get('password')?.hasError('whitespace')">
            Password cannot be only spaces.
          </p>
        </div>
      </div>
      <div class="input-message">
        <input
          class="passwords"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          type="text"
        />
        <div
          *ngIf="
            registerForm.get('confirmPassword')?.invalid &&
            registerForm.get('confirmPassword')?.touched
          "
          class="invalid-input"
        >
          <p>Passwords does not match.</p>
        </div>
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
    </form>

    <ng-template #elseBlock>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit(loginForm)"
        class="d-flex flex-column align-items-center"
      >
        <div class="input-message">
          <input formControlName="email" placeholder="Email" type="text" />
          <div
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
            class="invalid-input"
          >
            <p>Please provide a valid email address.</p>
          </div>
        </div>
        <div class="input-message">
          <input
            class="passwords"
            formControlName="password"
            placeholder="Password"
            type="text"
          />
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="invalid-input"
          >
            <p *ngIf="!loginForm.get('password')?.hasError('whitespace')">
              Password must be at least 6 characters long.
            </p>
            <p *ngIf="loginForm.get('password')?.hasError('whitespace')">
              Password cannot be only spaces.
            </p>
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
      </form>
    </ng-template>

    <div class="sing-in-create-one d-flex justify-content-center">
      <p>{{ loginOrRegister.question }}</p>
      <button (click)="modalChange()">
        {{ loginOrRegister.signInCreateOne }}
      </button>
    </div>
  </div>
</div>
