<div class="container">
  <h2 class="heading">Trending on The Creative Spark</h2>
  <div class="articles">
    <div class="article-1">
      <p class="number">
        01
      </p>
      <div class="info-links">

      </div>
    </div>
    <div class="article-2">
      <p class="number">
        02
      </p>
      <div class="info-links">

      </div>
    </div>
    <div class="article-3">
      <p class="number">
        03
      </p>
      <div class="info-links">

      </div>
    </div>
    <div class="article-4">
      <p class="number">
        04
      </p>
      <div class="info-links">

      </div>
    </div>
    <div class="article-5">
      <p class="number">
        05
      </p>
      <div class="info-links">

      </div>
    </div>
    <div class="article-6">
      <p class="number">
        06
      </p>
      <div class="info-links">

      </div>
    </div>
  </div>
</div>
