<div class="topics-container">
  <h1>Topics</h1>
  <div class="topics">
    <span
      class="badge m-1"
      role="button"
      [class.selected]="selectedTopic === null"
      [attr.aria-pressed]="selectedTopic === null"
      (click)="selectTopic(null)"
    >
      All Topics
    </span>
    <span
      *ngFor="let topic of topics"
      class="badge m-1"
      role="button"
      [class.selected]="selectedTopic === topic.name"
      [attr.aria-pressed]="selectedTopic === topic.name"
      (click)="selectTopic(topic.name)"
    >
      {{ topic.name }}
    </span>
  </div>
</div>
