.topics-container {
  h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .topics {
    .badge {
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 400;
      color: var(--main-black);
      background: #F2F2F2;
      border: 1px solid #F2F2F2;
      cursor: pointer;

      &:hover {
        background: #dbdada;
      }

      &:active {
        background: #b8b7b7;
      }
    }
  }
}
