.container {
  .header {
    .title-info {
      h1 {
        margin: 50px 0 30px;
      }

      .author-article-info {
        gap: 12px;

        p {
          margin: 0;
        }

        img {
          width: 45px;
          height: 45px;

          &:hover {
            box-shadow: 0 0 0 1.5px var(--main-color-2);
          }
        }

        .info {
          .author-name {
            color: rgb(36, 36, 36);

            &:hover {
              color: var(--main-color-2);
              font-weight: 600;
            }

            &:active {
              color: var(--main-color-3);
            }
          }

          .date-read-time {
            p {
              font-size: 13px;
            }
          }
        }
      }

      .claps-comments-topics {
        height: 50px;
        margin-top: 30px;
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;

        p {
          font-size: 13px;
          margin: 0;
        }

        img {
          width: 18px;
        }
      }
    }
  }
}
