/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  background: #f8f8ff;

  .container-fluid {
    display: block;
    padding: 0;
  }
}

:root {
  --main-color: #85c5ef;
  --main-color-2: #65aad8;
  --main-color-3: #428ec2;
  --main-black: #000;
  --main-white: #fff;
  --main-font-family: "Merriweather", Roboto, "Helvetica Neue", sans-serif;
  --green: #1a8917;
  --green-2: #176d14;
  --green-3: #156612;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
