/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: var(--main-font-family);
  background: #f8f8ff;

  .cdk-overlay-container {
    .cdk-overlay-dark-backdrop {
      background: rgba(255, 255, 255, 0.95);
      opacity: 0.8;
    }

    .mat-mdc-dialog-surface {
      padding: 60px;
    }
  }

  .container-fluid {
    display: block;
    padding: 0;
  }
}

mat-dialog-container#modal-component {
  border-radius: 12px;
}

:root {
  --main-color: #85c5ef;
  --main-color-2: #73bbeb;
  --main-color-3: #5eaadd;
  --main-black: #000;
  --main-font-family: 'Merriweather', Roboto, "Helvetica Neue", sans-serif;
  --green: #1A8917;
  --green-2: #176d14;
  --green-3: #156612;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
