.header-container {
  padding: 0 80px;
  height: 75px;
  background: var(--main-color);

  .navigation {
    button {
      font-size: 15px;
      padding: 3px 5px;
      color: var(--main-black);

      &:hover {
        outline: 1px solid black;
        background: var(--main-color-2);
      }

      &:active {
        background: var(--main-color-3);
      }
    }
  }
}
