.header-container {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 80px;
  height: 75px;
  background: rgba(133, 197, 239, 0.9);
  backdrop-filter: blur(8px);
  box-shadow: 0 6px 20px rgba(23, 23, 23, 0.08);

  .title {
    &:hover {
      font-weight: 600;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  .navigation {
    button {
      font-size: 15px;
      padding: 6px 10px;
      color: var(--main-black);
      border-radius: 999px;
      transition: all 0.18s ease;

      &:hover {
        outline: 1px solid rgba(0, 0, 0, 0.4);
        background: rgba(255, 255, 255, 0.35);
      }

      &:active {
        background: var(--main-color-3);
      }
    }

    .logout-modal {
      .modal-body {
        color: #374151;
      }
    }
  }
}
