/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
  margin: 0;
  font-family: var(--main-font-family);

  background-image: url('./assets/images/base-background.jpg');
  background-size: 100% 100%;

  .cdk-overlay-container {
    .cdk-overlay-dark-backdrop {
      background: rgba(255, 255, 255, 0.95);
      opacity: 0.8;
    }

    .mat-mdc-dialog-surface {
      padding: 60px;
    }
  }
}

mat-dialog-container#modal-component {
  border-radius: 12px;
}

:root {
  --main-color: #e6b05d;
  --main-black: #000;
  --main-font-family: 'Merriweather', Roboto, "Helvetica Neue", sans-serif;
  --green: #4CAF50;
  --darker-green: #3e8e41;
  --even-darker-green: #2e6b31;
}