<div class="most-clapped container">
  <h2 class="heading row">Most liked on The Creative Spark</h2>
  <p>Test {{ most_clapped_articles }}</p>
  <div class="articles row container">
    <div class="row">
      <div class="col-4 article">
        <p class="col-1 number">01</p>
        <div class="author-article-links">
          <a class="author" routerLink=""></a>
          <a class="article" routerLink=""></a>
          <div class="date-read-time">
            <p class="date"></p>
            <p>-</p>
            <p class="read-time"></p>
          </div>
        </div>
      </div>
      <div class="col-4 article">
        <p class="col-1 number">02</p>
        <div class="author-article-links">
          <a class="author" routerLink=""></a>
          <a class="article" routerLink=""></a>
          <div class="date-read-time">
            <p class="date"></p>
            <p>-</p>
            <p class="read-time"></p>
          </div>
        </div>
      </div>
      <div class="col-4 article">
        <p class="col-1 number">03</p>
        <div class="author-article-links">
          <a class="author" routerLink=""></a>
          <a class="article" routerLink=""></a>
          <div class="date-read-time">
            <p class="date"></p>
            <p>-</p>
            <p class="read-time"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 article">
        <p class="col-1 number">04</p>
        <div class="author-article-links">
          <a class="author" routerLink=""></a>
          <a class="article" routerLink=""></a>
          <div class="date-read-time">
            <p class="date"></p>
            <p>-</p>
            <p class="read-time"></p>
          </div>
        </div>
      </div>
      <div class="col-4 article">
        <p class="col-1 number">05</p>
        <div class="author-article-links">
          <a class="author" routerLink=""></a>
          <a class="article" routerLink=""></a>
          <div class="date-read-time">
            <p class="date"></p>
            <p>-</p>
            <p class="read-time"></p>
          </div>
        </div>
      </div>
      <div class="col-4 article">
        <p class="col-1 number">06</p>
        <div class="author-article-links">
          <a class="author" routerLink=""></a>
          <a class="article" routerLink=""></a>
          <div class="date-read-time">
            <p class="date"></p>
            <p>-</p>
            <p class="read-time"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
