.container {
  .row {
    .author-articles {
      padding: 0 100px 75px;

      ::ng-deep .articles {
        padding: 0;

        .row .article-wrapper {
          padding: 0;

          .author-article-links {
            padding: 0;

            .published-date {
              font-size: 14px;
            }

            .article-link {
              margin-left: 0;

              .link {
                font-size: 20px !important;
              }
            }

            .date-read-time {
              flex-direction: row-reverse;
              justify-content: start;
              gap: 4px;
            }
          }
        }
      }

      .name {
        font-size: 32px;
        margin: 50px 0;
      }

      .articles-header {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .navigation {
        .home {
          margin-right: 20px;
        }

        .nav-link {
          font-size: 16px;
          padding: 2px 5px;

          &:not(.active) {
            color: var(--main-color);
          }
        }
      }
    }

    .info {
      min-height: 100vh;
      padding: 0 24px 0 40px;
      border-left: 1px solid #dee2e6;

      .sticky-wrapper {
        position: sticky;
        top: 40px;
        margin-top: 40px;

        .img-name {
          p {
            font-weight: 500;
            margin: 10px 0 20px;
          }

          img {
            width: 90px;
            border: 1px solid transparent;
            border-radius: 50%;
          }
        }

        .description {
          font-size: 14px;
        }
      }
    }
  }
}
