<div class="container">
  <div class="row">
    <div class="col-8 author-articles">
      <h2 class="name">
        {{ authorInfo.name }}
      </h2>
      <app-articles
        [authorArticles]="true"
        (authorInfo)="setAuthorInfo($event)"
      ></app-articles>
    </div>
    <div class="col-4 info">
      <div class="img-name">
        <img src="../../assets/images/user-placeholder.jpg" alt="">
        <p>
          {{ authorInfo.name }}
        </p>
      </div>
        <p class="description">
          {{ authorInfo.description }}
        </p>
    </div>
  </div>
</div>
