<div class="container">
  <div class="row">
    <div class="col-8 author-articles">
      <h2 class="name">
        {{ author.name }}
      </h2>
      <h3 class="articles-header">Stories</h3>
      <app-articles-list
        [authorArticles]="true"
        (author)="setAuthorInfo($event)"
      ></app-articles-list>
    </div>
    <div class="col-4 info">
      <div class="sticky-wrapper">
        <div class="img-name d-flex align-items-center gap-2">
          <img
            [src]="
              author.image
                ? author.image
                : '../../assets/images/user-placeholder.jpg'
            "
            alt="Article author."
          />
          <p>
            {{ author.name }}
          </p>
          <button
            *ngIf="isOwner()"
            class="btn btn-sm btn-outline-primary"
            (click)="toggleEdit()"
          >
            Edit profile
          </button>
        </div>
        <p class="description">
          {{ author.description }}
        </p>

        <div *ngIf="editing">
          <app-profile-edit
            (close)="onProfileEditClose($event)"
          ></app-profile-edit>
        </div>
      </div>
    </div>
  </div>
</div>
