<div class="container">
  <div class="row header d-flex justify-content-center">
    <div class="col-6 title-info">
      <h1>{{article.title}}</h1>
      <div class="author-article-info d-flex">
        <img class="rounded-circle" [src]="article.authorImage" alt="Article author." role="button" [routerLink]="'/' + article.authorSlug">
        <div class="info">
          <a class="author-name text-decoration-none" [routerLink]="'/' + article.authorSlug">
            {{article.authorName}}
          </a>
          <div class="date-read-time d-flex align-items-center">
          <p class="date">{{ article.createdAt }}</p>
          <p class="mx-1">-</p>
          <p class="read-time">{{ article.readTime }} min read</p>
        </div>
        </div>
        </div>
        <div class="claps-comments-topics d-flex justify-content-between align-items-center">
          <div class="d-flex gap-4">
            <div class="d-flex gap-1">
              <img src="../../assets/svg/clap.svg" alt="Two hands clapping icon.">
              <p>
                {{ article.claps }}
              </p>
            </div>
            <div class="d-flex gap-1">
            <img src="../../assets/svg/comment.svg" alt="Comments icon.">
              <p>
                {{ article.claps }}
              </p>
            </div>
          </div>
          <div class="">
            <img src="../../assets/svg/bookmark.svg" alt="Add bookmark icon.">
          </div>
        </div>
    </div>
  </div>
  <div class="row"></div>
</div>
